@charset "UTF-8";

table {padding: 0 0.3em; border-spacing: 0px; margin: 1em 0 1em 0; width: 100%;}
table caption { font-weight: bold; font-size: larger }
table th {font-weight: bold; padding: 2px 10px; text-align: right; background-color:#f1f1f1; width: 20%;}
table th:nth-child(1) {width: 15%; text-align: left;}
table th:nth-child(2) {width: 10%;}
table th:nth-child(3) {width: 15%;}
table td:nth-child(1) {padding: 2px 10px; text-align: left;}
table td:nth-child(1n + 2) {padding: 2px 10px; text-align: right;}
table tfoot {font-weight: bold; padding: 2px 10px; background-color:#f1f1f1;}
